1. Write a function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
Ans:-

def sum_even_numbers(numbers):
    sum = 0
    for num in numbers:
        if num % 2 == 0:
            sum += num
    return sum

In [ ]:
sum_even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

30

2. Create a python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(string):
    return string[::-1]

In [ ]:
reverse_string("Hello, World!")

'!dlroW ,olleH'

In [ ]:
reverse_string("Python is awesome")

'emosewa si nohtyP'

3. Implement a python fnction that takes a list of integers and returns a new list containing the square of each numbers

In [ ]:
def square_numbers(numbers):
    squared_numbers = []
    for num in numbers:
        squared_numbers.append(num ** 2)
    return squared_numbers

In [ ]:
numbers = [1, 2, 3, 4,5]
squared_numbers

[1, 4, 9, 16, 25]

4.Write a python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

In [ ]:

is_prime(6)

False

In [ ]:
is_prime(3)

True

5. Create an iterator class in python that generates the fibonacci sequence up to a specified number of terms.

In [ ]:
def fibonacci_sequence(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

In [ ]:
fibonacci_sequence(10)
for num in fibonacci_sequence(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

In [ ]:
f=fibonacci_sequence(10)

In [ ]:
f

In [ ]:
next(f)

0

In [ ]:
next(f)

1

In [ ]:
next(f)

1

In [ ]:
next(f)

2

In [ ]:
next(f)

3

6. Write a generator function in python that yields the power of 2 upto a given exponent.

In [ ]:
def power_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

In [ ]:
power_of_two(3)

In [ ]:
i=[1,2,3,4,5]

In [ ]:
power = power_of_two(5)
for num in power:
    print(num)

1
2
4
8
16
32

7.Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_file_lines(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

In [ ]:
read_file_lines("test.txt")

In [ ]:
read_file_lines("swa.txt")
read_file_lines

8.Use a lambda function to sort a list of tuples based on the second element of each tuple.

In [ ]:
def sort_tuples(tuples):
    sorted_tuples = sorted(tuples, key=lambda x: x[1])
    return sorted_tuples

In [ ]:
sort_tuples([(1, 5), (2, 3), (3, 2), (4, 1)])

[(4, 1), (3, 2), (2, 3), (1, 5)]

In [ ]:
sort_tuples(["Swati","Data Analyst","In","Pwskills"])

['Data Analyst', 'In', 'Swati', 'Pwskills']

9.write a python program that uses 'map()' to convert a list of tempeature from celsius to fahernheit

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

In [ ]:
celsius_to_fahrenheit(10)

50.0

In [ ]:
celsius_to_fahrenheit(20)

68.0

10.Create a python program that uses 'filter()' to remove all the vowels from  a given string.

In [ ]:
def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda x: x not in vowels, string))

In [ ]:
remove_vowels("Hello, World!")

'Hll, Wrld!'

In [ ]:
remove_vowels("data analyst in pwskills")

'dt nlyst n pwsklls'

11.Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

order no                book title and author        quantity       price per item
34587                   Learning python,MArk Lutz         4            40.95
98762                   programming python,Mark lutz      5            56.80
77226                   Head first python,Paul Barry      3            32.95
88112                   Einfuhrung in python,Bernd klein  3            24.99

Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map

In [ ]:
def